@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

h1{
    text-align : center;
    font-family : 'Pretendard-Bold';
}

#articleClock{
    text-align : center;
    font-family: 'Pretendard-Regular';
}

h2 {
    text-align : center;
    font-family: 'Pretendard-Regular';
}


h3 {
    text-align : center;
    font-family: 'Pretendard-Regular';
}


